<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="admnistrativeRole" value="admin"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms"/>
    <!-- custom errors is on -->
    <customErrors mode="On" defaultRedirect="GenericErrorPage.htm">
    </customErrors>
    <httpModules>
      <!-- our custom error module -->
      <add name="CustomErrorModule" type="ASPNET4InPractice.ErrorModule, App_Code"/>
    </httpModules>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
