<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies><add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/></assemblies></compilation>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
	<connectionStrings><add name="NorthwindEntities" connectionString="metadata=res://*/ObjectModel.Northwind.csdl|res://*/ObjectModel.Northwind.ssdl|res://*/ObjectModel.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
