<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings/>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
		<authentication mode="Forms"/>
		<httpModules>
			<add name="MobileModule" type="ASPNET4InPractice.MobileModule"/>
		</httpModules>
	</system.web>
	<system.webServer>
      <modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>
