<?xml version="1.0"?>

<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<connectionStrings>
		<add name="conn" connectionString="server=(local);database=northwind;integrated security=SSPI" providerName="System.Data.SqlClient" />
		<add name="NorthwindEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
</configuration>
