<%@ Master Language="VB" CodeFile="Articles2.master.vb" Inherits="Masters_Articles2" MasterPageFile="~/Masters/Articles.master" %>
<asp:Content ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" >
</asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="MainContent" runat="server">
    <h2>SubSection</h2>
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>