<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net45" />
  <package id="AspNet.ScriptManager.bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="AspNet.ScriptManager.jQuery" version="1.10.2" targetFramework="net45" />
  <package id="Autofac" version="8.0.0" targetFramework="net48" />
  <package id="Autofac.Web" version="7.0.0" targetFramework="net48" />
  <package id="Azure.Core" version="1.38.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.11.4" targetFramework="net48" />
  <package id="bootstrap" version="3.0.0" targetFramework="net45" />
  <package id="Dapper" version="2.1.35" targetFramework="net48" />
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FirebirdSql.Data.FirebirdClient" version="10.3.1" targetFramework="net48" />
  <package id="FluentMigrator" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Abstractions" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Extensions.MySql" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Extensions.Oracle" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Extensions.Postgres" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Extensions.Snowflake" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Extensions.SqlServer" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Core" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Db2" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Firebird" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Hana" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Jet" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.MySql" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Oracle" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Postgres" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Redshift" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.Snowflake" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.SQLite" version="6.2.0" targetFramework="net48" />
  <package id="FluentMigrator.Runner.SqlServer" version="6.2.0" targetFramework="net48" />
  <package id="jQuery" version="1.10.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Core" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Identity.Owin" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Providers.Core" version="1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.ScriptManager.MSAjax" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.ScriptManager.WebForms" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Web.Optimization.WebForms" version="1.1.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient" version="5.2.2" targetFramework="net48" />
  <package id="Microsoft.Data.SqlClient.SNI" version="5.2.0" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="8.0.10" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="8.0.10" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.61.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Cookies" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Facebook" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Google" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.MicrosoftAccount" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.OAuth" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Owin.Security.Twitter" version="2.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="Respond" version="1.2.0" targetFramework="net45" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.6" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.1.6" targetFramework="net48" />
  <package id="SqlKata" version="2.4.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.ClientModel" version="1.0.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.35.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Memory.Data" version="1.0.2" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="WebGrease" version="1.5.2" targetFramework="net45" />
</packages>