<?xml version="1.0"?>
<configuration>
	<system.web>
		<trust legacyCasModel="true" level="High"/>
		<compilation debug="true" targetFramework="4.0"/>
		<authentication mode="Forms"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
